---
---

@import "{{ site.theme }}";

a:hover, a:focus {
  text-decoration: underline;
  font-weight: normal;
}

a:visited {
  color: slateblue;
}

h1 a:hover, a:focus {
  text-decoration: underline;
  font-weight: bold;
  color: #267CB9;
}
